.active {
    color: red;
}

nav ul {
  list-style: none;           
  display: flex;              
  gap: 16px;                  
  padding: 0;
  margin: 0;
}


nav a {
  text-decoration: none;      
  color: #333;             
  font-weight: 500;
  padding: 6px 10px;
}